/*****************************/
/********** Main Body ********/
/*****************************/
body{
  background-color:  #0b0c10;
}

.mainContent {
    text-align: center;
    background-color: #1f2833;
    border-radius: 5px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    padding-top: 1%;
    margin-top: 2%;
}

@media screen and (max-width: 800px) {
  .mainContent {
    max-width: 100%;

  }
}


/*****************************/
/************ Title **********/
/*****************************/
.title {
  color: #ff652f;
  font-size: 40px;
  font-family: orange juice;
  background-color: white;
  padding: 10px 0 10px 0;
  margin-top: -1px;
}

@media screen and (max-width: 800px) {
  .title {
    margin-top: 4px;
  }
}

/***************************************/
/************ Title Animation **********/
/***************** Hover ***************/
/***************************************/

h1 span:hover {
  cursor: none;
  position: relative;
  top: 10px;
  display: inline-block;
  -webkit-animation: bounce 0.3s ease infinite alternate;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

h1 span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -5px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

/*****************************/
/********** Text Box *********/
/*****************************/

.textBox {
  padding: 12px 20px;
  margin: 8px 0 8px 7%;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

@media screen and (max-width: 800px) {
  .title {
    
  }
}


/*****************************/
/********* Add Button ********/
/*****************************/
.addButton {
    padding: 12px 20px;
}

.addButton {
  display: inline-block;
  padding-left: 70px;
  padding-top: 25px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px #999;
  font-family:"Century Gothic", "HelveticaNeueLT Pro 45 Lt", sans-serif;  
  color: #666;
  margin-left: 2%;
  text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
}

.addButton:hover {background-color: white}

.addButton:active {
  background-color: white;
  box-shadow: 0 1px #666;
  transform: translateY(3px);
}

@media screen and (max-width: 800px) {
  .addButton {
    display: grid;
    margin-left: 40%;
    
  }
}
/*****************************/
/*********** List ************/
/*****************************/
#list {
    list-style-type: none;
}

@media screen and (max-width: 800px) {
  #list {
    
  }
}


ul li{
  cursor: pointer;
  position: relative;
  padding: 12px 50px 12px 40px;
  background: #c5c6c7;
  font-size: 16px;
  font-weight: normal;
  transition: 0.2s;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  word-wrap: break-word;
  color: black;
  border-radius: 10px;
  text-transform:capitalize;
}

li:hover {
  background-color: #efe2ba;
}



ul li:nth-child(even){
  background: #fff;
}

ul li:nth-child(even):hover{
  background: #efe2ba;
}



.strike{
  text-decoration: line-through;
}

/********************************/
/* Once the item is in the list */
/********************************/
.checked:before {
    content: '';
    position: absolute;
    border-color: #116466;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

/********************************/
/******** Delete Button *********/
/********************************/

  li .close {
    border: none;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0; 
    opacity: 0;
    background-color: #e74c3c;
    transition: all .3s;
    width: 0;
  }
  
  li:hover .close {
    width: 50px;
    opacity: 1;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
  }
  
  i {
    color: white;
  }

  @media screen and (max-width: 800px) {
    li .close {
      opacity: 1;
      width: 50px;
      border-radius: 0 10px 10px 0;
    }
  }

/*****************************/
/******* List Sections *******/
/*****************************/

h3 {
  color: #ff652f;
  
}



/*****************************/
/********* Konami Css ********/
/*****************************/

img {
  display: none;
}



@keyframes moving {
  0%   {
    left:0%; top:0%;}
  25%  {
    left:67%; top:50%;
    }
  50%  {
    left:67%; top:0%;
    }
  75%  {
    left:0%; top:50%;
    }
  100% {
    left:0%; top:0%;
    }
}


@keyframes hinge {
  0% {
    transform: rotate(0);transform-origin: top left;animation-timing-function: ease-in-out;
    }
  20%, 60% {
    transform: rotate(80deg);transform-origin: top left;animation-timing-function: ease-in-out;
    }
  40% {
    transform: rotate(60deg);transform-origin: top left;animation-timing-function: ease-in-out;
    }
  80% {
    transform: rotate(60deg) translateY(0);transform-origin: top left;animation-timing-function: ease-in-out;
    }
  100% {
    transform: translateY(100000px);
    }
}
